@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.closes-gnat-without {
  position: absolute;
  width: calc(100% - 137px);
  top: calc(50% - 114.5px);
  left: 4.31rem;
  display: inline-block;
}
.tap-dismiss {
  position: absolute;
  top: 1.25rem;
  left: calc(50% - 125px);
  font-size: var(--font-size-20xl);
  text-align: center;
}
.lets-say-you {
  position: absolute;
  width: calc(100% - 64px);
  bottom: 1.06rem;
  left: 2.06rem;
  display: inline-block;
  height: 9.38rem;
}
.when-would-i {
  position: absolute;
  top: calc(50% - 16.5px);
  left: 1.69rem;
  font-size: var(--font-size-9xl);
  font-family: var(--font-helvetica-neue);
  text-align: center;
}
.oval-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.symbol11 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 7px);
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-sf-pro);
  color: var(--color-white);
  text-align: left;
}
.close-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.44rem;
  width: 1.88rem;
  height: 1.88rem;
  opacity: 0;
}
.close-button3.animate {
  animation: 1s ease 0s 1 normal forwards roll-in-left;
}
.explaindismiss {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 26.88rem;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro);
}
.explaindismiss.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
