@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.shows-your-apps-container {
  position: absolute;
  width: calc(100% - 94px);
  top: calc(50% - 117.5px);
  left: 3rem;
  display: inline-block;
}
.tap-share {
  position: absolute;
  top: 1.25rem;
  left: calc(50% - 107px);
  font-size: var(--font-size-20xl);
  text-align: center;
}
.this-time-dont-container {
  position: absolute;
  width: calc(100% - 94px);
  bottom: 0.94rem;
  left: 3rem;
  display: inline-block;
}
.screen-shot-2023-05-21-at-139 {
  position: absolute;
  width: 100%;
  top: calc(50% - 37.5px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 8rem;
  object-fit: cover;
}
.close-button-icon1 {
  position: absolute;
  height: 5.82%;
  width: 5.55%;
  top: 4.74%;
  right: 3.87%;
  bottom: 89.44%;
  left: 90.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.explainshare {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 26.88rem;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.explainshare.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
